{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<center><h1>View Product Detail</h1></center>
<div class="row">	 
		<div id="box" class="col-sm-3" style="margin-top: 10px;">
			<div class="container">
		  		<div class="card" style="width:500px">
		    		<img class="card-img-top" src="{{product.product_image.url}}" alt="Card image" width=400px height=400px>
		    			<div class="card-body">
		      				<p class="card-title">Product Name : {{product.product_name}}</p>
		      				<p class="card-text">Product Price : {{product.product_price}}</p>
		      				<p class="card-text">Product Description : {{product.product_desc}}</p>
		      				
		      				{% if flag == True %}
		      					<a href="{% url 'remove_from_wishlist' pk=product.pk %}">
			      					<input type="button" value="Remove From Wishlist" class="btn btn-primary">
			      				</a>
		      				{% else %}
		      					<a href="{% url 'add_to_wishlist' pk=product.pk %}">
			      					<input type="button" value="Add To Wishlist" class="btn btn-primary">
			      				</a>
		      				{% endif %}
		      				{% if flag1 == True %}
		      					<a href="{% url 'remove_from_cart' pk=product.pk %}">
			      					<input type="button" value="Remove From Cart" class="btn btn-primary">
			      				</a>
		      				{% else %}
		      					<a href="{% url 'add_to_cart' pk=product.pk %}">
			      					<input type="button" value="Add To Cart" class="btn btn-primary">
			      				</a>
		      				{% endif %}
		    			</div>
		  		</div>	  
			</div>
		</div> 

</div>
</body>
</html>
{% endblock %}