{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	body{
		background-image: url("{% static 'images/bg4.jpg' %}");
	}
</style>
</head>
<body>
<center><h1>View All Products</h1></center>
<div class="row">
	{% for i in products %}	 	 
		<div id="box" class="col-sm-3" style="margin-top: 10px;">
			<div class="container">
		  		<div class="card" style="width:150px">
		    		<img class="card-img-top" src="{{i.product_image.url}}" alt="Card image" width=150px height=150px>
		    			<div class="card-body">
		      				<p class="card-title">Product Name : {{i.product_name}}</p>
		      				<p class="card-text">Product Price : {{i.product_price}}</p>
		      				<a href="{% url 'user_product_detail' pk=i.pk %}">
		      					<input type="button" value="More Details" class="btn btn-primary">
		      				</a> 				
		    			</div>
		  		</div>	  
			</div>
		</div> 
	{% endfor %}
</div>
</body>
</html>
{% endblock %}